@font-face {
    font-family: "Century Gothic";
    src: url("../fonts/GOTHIC.TTF") format("truetype");
    font-style:normal;
    font-weight: normal;
}

* {
    padding: 5px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Century Gothic",sans-serif;
}

a {
    display: inline-block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;
    padding: 0 120px 0 120px;
}

header .nav-top ul {
    display: flex;
    align-items: center;
}

header .nav-top ul li {
    list-style-type: none;
    margin-left: 37px;
}

header .nav-top ul li:last-child {
    background-color: #ffea00;
    padding: 25px 0;
}

header .nav-top ul li a {
    text-decoration: none;
    color: inherit;
}

body .contact-header {
    background-image: url("../img/slider_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 0 120px 0 120px;
    width: 100%;
    height: 150px;
}

body .contact-header {
    display: flex;
    align-items: center;
}

body .contact-header .contact-btn a {
    text-decoration: none;
    font-size: 35px;
    color: #ffea00;
    background-color: #424146;
    padding: 12px 123px 12px 23px;
}

body .empty-gray {
    height: 80px;
    width: 100%;
    background-color: #f6f6f6;
}

#map {
    width: 100%;
    height: 645px;
}

body .contact-form-block {
    display: flex;
    background-color: #f6f6f6;
    padding: 100px 120px 100px 120px;
}

body .contact-form {
    width: 60%;
}

form.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

form.form input {
    width: 30%;
    height: 50px;
}

form.form input, textarea {
    border: none;
}

form textarea#message{
    width: 100%;
    height: 175px;
    margin: 10px 0 10px 0;
}

.contact-form form.form .submit {
    background-color: #000000;
    color: #ffffff;
    border-bottom: 2px solid #ffea00;
}

.contact-form a {
    text-decoration: none;
    color: #ffea00;
    background-color: #424146;
    margin:0 0 20px 5px;
    font-size: 18px;
}

.contact-info {
    margin-left: 150px;
}

.contact-info a {
    text-decoration: none;
    color: #ffea00;
    background-color: #424146;
    margin:0 0 20px 5px;
    font-size: 18px;
}

.contact-info .contact-column {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.contact-info .contact-email span {
    color: #ffea00;
    background-color: #424146;
}


